---
import AboutHeroImage from '../assets/cine-facing-forward.png';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="About"
  description="I code the things...."
  pubDate={new Date('2026-03-31T00:00:00.000-08:00')}
  heroImage={AboutHeroImage}
>
  <p>I'm Nick and I code the things.</p>

  <p>
    I'm a full-time software engineer based in Seattle (✌️) and I work on
    projects occupying the intersection of art and technology in my spare time
    (that I sometimes write about here). I enjoy working with Typescript, React,
    and C#, and I mostly focus on web development. I'm a full-stack engineer
    experienced in working with both small and large teams bringing features
    from concept to production. I'll show you mine if you show me yours: <a
      href="https://github.com/rickjerrity">GitHub</a
    >
  </p>

  <p>
    I love listening to music and going to concerts, particularly EDM. Seen many
    big names live including: Deadmau5, Tiesto, John Summit, Armin van Buuren,
    Above & Beyond, Marsh, and many more.
  </p>

  <p>
    Big foodie and wannabe chef, I love all things food and trying new dishes,
    always looking for new recipes (try some <a
      href="https://www.recipetineats.com/braised-beef-short-ribs-in-red-wine-sauce/"
      >braised beef short ribs</a
    > if you're looking for an easy & delicious win 😋).
  </p>

  <p>
    I'm a nerd, I try to keep up with new technologies/frameworks related to
    software engineering by reading a lot and writing a little. I've been
    printed in the <a href="https://2600.com/">2600 magazine</a> (Autumn 2007 issue).
  </p>
</Layout>
