---
import { SITE_TITLE } from '../constants';
import HeaderLink from './HeaderLink.astro';
---

<header class="bg-gray-700 shadow-xl text-gray-300">
  <nav class="flex items-center justify-center">
    <div>
      <HeaderLink href="/">⚫</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
  </nav>
</header>
